<form method="POST" action="/login">
  <input type="hidden" name="csrf_token" value="<%= csrf_token(@conn) %>">
  <label>Email: <input type="text" name="email"/></label><br />
  <label>Password: <input type="password" name="password"/></label><br />
  <input type="submit" name="Login" value="Login"/>
</form>
